div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.before,
.after {
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
img {
  width: 250px;
  height: 250px;
}
.aDiv {
  width: 250px;
  height: 250px;
}
